.card{
    margin: 10px auto;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    background-color: var(--bgColor);
    color: var(--textColor);

    &__content {
        padding: 10px;
    }

    &__title {
        font-size: 1.5rem;
        padding: 10px;
    }

    &__remove-button {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}

mat-form-field {
    background-color: var(--bgColor);
    color: var(--textColor);
}