$bgColor_light: #f7f7f7;
$bgColor_dark: #35393e;
$textColor_light: #393939;
$textColor_dark: #f8fcff;
$borderColor_light: #c8c8c8;
$borderColor_dark: #f8fcff;

// mixin that enables css variables in light mode
@mixin lighten() {
    --bgColor: #{$bgColor_light};
    --textColor: #{$textColor_light};
    --borderColor: #{$borderColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
    --bgColor: #{$bgColor_dark};
    --textColor: #{$textColor_dark};
    --borderColor: #{$borderColor_dark};
}

body.dark {
    @include darken();
}

body.light {
    @include lighten();
}